<!DOCTYPE html>
{% include "headers.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<html lang="es">
{% if anchor %}
<body onload="moveWindow()">
{% else %}
<body>
{% endif %}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top border-bottom" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="#page-top"><img
                src="{{url_for('static', filename='assets/img/company/small-logo.png')}}"/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" href="#productos">Productos</a></li>
                <li class="nav-item"><a class="nav-link" href="#ubicacion">Ubicación/Equipo</a></li>
                <li class="nav-item"><a class="nav-link" href="#certificados">Certificaciones</a></li>
                <li class="nav-item"><a class="nav-link" href="#historia">Historia</a></li>
                <li class="nav-item"><a class="nav-link" href="#empresa">Empresa</a></li>
                <li class="nav-item"><a class="nav-link" href="#contacto">Contacto</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Aviso de Error-->
{% if success=="Correct": %}
<div class="container" style="padding-top:3rem">
    <p style="color:red">Su mensaje se envió de manera correcta. Gracias por contactarnos</p>
</div>
{% endif %}

{% if success=="False": %}
<div class="container" style="padding-top:3rem">
    <p style="color:red">Error en envío, por favor use otro medio de comunicación</p>
</div>
{% endif %}
<!-- Masthead-->
<header class="masthead"
        style="background-image: url('{{ url_for('static', filename='assets/img/general/bg-image-1.jpg')}}')"
        id="page-top">
    <img class="masthead-subheading img-fluid-4"
         src="{{ url_for('static', filename='assets/img/company/big-logo.png')}}">
    <br>
    <a class="btn btn-primary btn-xl btn-2" href="#products">¿Qué hacemos?</a>
</header>
<!-- Productos-->
<section class="page-section" id="productos">
    <div class="text-center">
        <h2 class="section-heading ">¿Qué hacemos?</h2>
        <p class="section-subheading ">Classic Bun elabora un pan exquisito y con las exigencias del mercado, pues
            guarda la delicadeza del sabor, la frescura y la textura, que caracterizan nuestra marca, cumpliendo con los
            estándares más altos de calidad.</p>
    </div>
    <div class="text-center">
        <a class="btn btn-primary btn-xl text-center"
           href="{{ url_for('static', filename='assets/pdf/Classic_bun.pdf')}}">Descargue aquí nuestro catálogo completo
            de productos</a>
    </div>
    <div class="row text-left  product-characteristics" style="margin:auto">
        <div class="col-lg-6 sm-12">
            <ul>
                <li>Diversos tamaños y gramajes</li>
            </ul>
        </div>
        <div class="col-lg-6 sm-12">
            <ul>
                <li>Cortado o sin cortar</li>
            </ul>
        </div>
        <div class="col-lg-6 sm-12">
            <ul>
                <li>Formulación personalizada</li>
            </ul>
        </div>
        <div class="col-lg-6 sm-12">
            <ul>
                <li>Decorados con:</li>
                <div class="row" style="margin:auto">
                    <div class="col-lg-6 sm-12">
                        <ul>
                            <li>Ajonjolí/ajonjolí negro</li>
                            <li>Parmesano</li>
                            <li>Orégano</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 sm-12">
                        <ul>
                            <li>Polenta</li>
                            <li>Brillo</li>
                        </ul>
                    </div>
                </div>
            </ul>
        </div>
    </div>
    <div class="row text-center" style="margin:auto">
        <div class="col-lg-4 md-6 sm-12">
            <div>
                <a href="{{ url_for('static', filename='assets/pdf/Classic_bun.pdf')}}"><img class="img-fluid"
                                                                                             src="{{ url_for('static', filename='assets/img/products/burger.png')}}"></a>
                <h4 class="my-3">Pan para Hamburguesa</h4>
            </div>
        </div>
        <div class="col-lg-4 md-6 sm-12">
            <div>
                <a href="{{ url_for('static', filename='assets/pdf/Classic_bun.pdf')}}"><img class="img-fluid"
                                                                                             src="{{ url_for('static', filename='assets/img/products/hotdog.png')}}"></a>
                <h4 class="my-3">Pan para Hot Dog</h4>
            </div>
        </div>
        <div class="col-lg-4 md-6 sm-12">
            <div>
                <a href="{{ url_for('static', filename='assets/pdf/Classic_bun.pdf')}}"><img class="img-fluid"
                                                                                             src="{{ url_for('static', filename='assets/img/products/tajapan.png')}}"></a>
                <h4 class="my-3">Pan Tajapan</h4>
            </div>
        </div>
    </div>

</section>
<!-- Ubicación -->
<section class="page-section bg-light" id="ubicacion">
    <div>
        <div class="text-center">
            <h2 class="section-heading ">¿Dónde lo hacemos?</h2>
            <h2>Ubicación</h2>
            <p class="section-subheading " style="margin-bottom: 0;">La planta de Classic Bun está ubicada en <a
                    href="https://goo.gl/maps/rtczU8wege8oPRjP8">Santa Teresa de Jesús OE 10-B (Quito, Ecuador)</a></p>
            <img style="width:100%" src="{{url_for('static', filename='assets/img/company/fabrica.jpg')}}">
        </div>
        <div class="text-center">
            <h2 class="section-heading" style="padding-top:1rem">¿Y quién lo hace?</h2>
            <h2>Nuestro equipo</h2>
            <p class="section-subheading " style="margin-bottom: 0;">Conformado por personas comprometidas con su
                trabajo y que se capacitan constantemente para cumplir con los requerimientos de calidad del producto;
                Además de guardar las normas de seguridad, limpieza y de servicio a nuestros clientes. </p>
        </div>
        <div class="row justify-content-center" style="margin:auto">
            <div class="col-6 col-lg-4 img-fluid3">
                <img style="width:100%" src="{{url_for('static', filename='assets/img/company/planta1.jpg')}}">
            </div>
            <div class="col-6 col-lg-4 img-fluid3">
                <img style="width:100%" src="{{url_for('static', filename='assets/img/company/planta2.jpg')}}">
            </div>
            <div class="col-6 col-lg-4 img-fluid3">
                <img style="width:100%" src="{{url_for('static', filename='assets/img/company/planta3.jpg')}}">
            </div>
        </div>
        <div class="text-center">
            <br>
            <a class="btn btn-primary btn-xl " href="{{url_for('work_with_us')}}">Únete
                a nuestro equipo!</a>
        </div>
    </div>
</section>
<!-- Certificaciones-->
<section class="page-section" id="certificados">
    <div>
        <div class="text-center">
            <h2 class="section-heading ">¿Cómo garantizamos lo que hacemos?</h2>
            <h2>Certificados de calidad</h2>
            <p class="section-subheading ">Contamos con certificaciones que avalan la calidad de nuestros
                productos.</p>
            <p>(Clic en las imágenes para descargar)</p>
        </div>
        <div class="row" style="margin:auto">
            <div class="col-lg-6">
                <div class="team-member">
                    <a href="https://www.gob.ec/sites/default/files/regulations/2023-06/Documento_Normativa-T%C3%A9cnica-Sanitaria-Sustitutiva-para-alimentos-procesados-plantas-procesadoras-establecimientos-distribucion-comercializacion-transporte-alimentos-procesados-alimentaci%C3%B3n-colectiva.pdf"><img class="mx-auto rounded-circle"
                                                                                        src="{{url_for('static', filename='assets/img/certificaciones/BPM.jpg')}}"/></a>
                    <h4>CERTIFICADO DE BUENAS PRÁCTICAS DE MANUFACTURA CÓDIGO ÚNICO: 0005-HNA-0622</h4>
                    <div class="text-center">
                        <p><a class="display-small" data-bs-toggle="collapse" href="#certificate1"
                              role="button"
                              aria-expanded="false" aria-controls="certificate1">
                            Clic para más información
                        </a></p>
                    </div>
                    <div class="collapse" id="certificate1">
                        <div class="card card-body">
                            <p style="text-align:justify">"Art. 1.- Objeto.- la presente normativa técnica sanitaria
                                establece las condiciones higiénico sanitarias y requisitos que deberán cumplir los
                                procesos de
                                fabricación, producción, elaboración, preparación, envasado, empacado transporte y
                                comercialización de alimentos para consumo humano, al igual que los requisitos para la
                                obtención de la notificación sanitaria de alimentos procesados nacionales y extranjeros
                                según el
                                perfilador de riesgos, con el objeto de proteger la salud de la población, garantizar el
                                suministro de productos sanos e inocuos."</p>
                            <p style="text-align:right">ARCSA, <a
                                    href="https://www.controlsanitario.gob.ec/wp-content/uploads/downloads/2015/12/Resolucion_ARCSA-DE-067-2015-GGG.pdf">Link
                                info</a></p>
                        </div>
                    </div>
                    <div class="display-big">
                        <p style="text-align:justify">"Art. 1.- Objeto.- la presente normativa técnica sanitaria
                            establece
                            las condiciones higiénico sanitarias y requisitos que deberán cumplir los procesos de
                            fabricación, producción, elaboración, preparación, envasado, empacado transporte y
                            comercialización de alimentos para consumo humano, al igual que los requisitos para la
                            obtención
                            de la notificación sanitaria de alimentos procesados nacionales y extranjeros según el
                            perfilador de riesgos, con el objeto de proteger la salud de la población, garantizar el
                            suministro de productos sanos e inocuos."</p>
                        <p style="text-align:right">ARCSA, <a
                                href="https://www.controlsanitario.gob.ec/wp-content/uploads/downloads/2015/12/Resolucion_ARCSA-DE-067-2015-GGG.pdf">Link
                            info</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="team-member">
                    <a href="{{url_for('static', filename='assets/pdf/FSSC22000.pdf')}}"><img
                            class="mx-auto rounded-circle"
                            src="{{url_for('static', filename='assets/img/certificaciones/FSSC22000.jpg')}}"/></a>
                    <h4>FSSC 22000</h4>
                    <h4></h4>
                    <div class="text-center">
                        <p><a class="display-small" data-bs-toggle="collapse" href="#certificate2"
                              role="button"
                              aria-expanded="false" aria-controls="certificate2">
                            Clic para más información
                        </a></p>
                    </div>
                    <div class="collapse" id="certificate2">
                        <div class="card card-body">
                            <p style="text-align:justify">"FSSC 22000 ha tenido un impacto en la seguridad alimentaria
                                mundial durante más de 12 años. El esquema proporciona un modelo de certificación que se
                                puede utilizar en toda la cadena de suministro de alimentos para garantizar los
                                estándares y
                                procesos de seguridad alimentaria. FSSC 22000 está reconocido por GFSI y sigue la
                                descripción de la
                                categoría de la cadena alimentaria tal como se define en ISO/TS 22003."</p>
                            <p style="text-align:right">Foundation Food Saftey System Certification, <a
                                    href="https://www.fssc.com/about/">Link info</a></p>
                        </div>
                    </div>
                    <div class="display-big">
                        <p style="text-align:justify">"FSSC 22000 ha tenido un impacto en la seguridad alimentaria
                            mundial durante más de 12 años. El esquema proporciona un modelo de certificación que se
                            puede utilizar en toda la cadena de suministro de alimentos para garantizar los estándares y
                            procesos de seguridad alimentaria. FSSC 22000 está reconocido por GFSI y sigue la
                            descripción de la
                            categoría de la cadena alimentaria tal como se define en ISO/TS 22003."</p>
                        <p style="text-align:right">Foundation Food Saftey System Certification, <a
                                href="https://www.fssc.com/about/">Link info</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Historia-->
<section class="page-section bg-light" id="historia">
    <div>
        <div class="text-center">
            <h2 class="section-heading ">¿Hace cuánto lo hacemos?</h2>
            <h2>Nuestra historia</h2>
            <p class="section-subheading history" style="text-align:justify;">Hace 30 años, José Luzuriaga Rosales
                finalizó su carrera universitaria mediante su proyecto de tesis con relación a un estudio de
                factibilidad para la implementación de una panificadora enfocada a la producción de pan para
                franquicias. Simultáneamente, una transnacional deseaba abrir su primer restaurante en Quito y no
                encontró en el mercado una panadería que cumpla con sus requerimientos, entre estos, que el pan debería
                estar cortado para facilitar sus procesos de elaboración de hamburguesas, como era la norma en otras
                localidades donde la franquicia trabajaba.</p>
            <br>
        </div>
        <!-- Historia Ampliada-->
        <div class="text-center">
            <a class="btn btn-primary btn-xl" data-bs-toggle="collapse" href="#collapseExample" role="button"
               aria-expanded="false" aria-controls="collapseExample">
                Sigue nuestra historia AQUÍ
            </a>
        </div>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <p class="section-subheading history2" style="text-align:justify;">Hace 30 años, José Luzuriaga Rosales
                    finalizó su carrera universitaria mediante su proyecto de tesis con relación a un estudio de
                    factibilidad para la implementación de una panificadora enfocada a la producción de pan para
                    franquicias. Simultáneamente, una transnacional deseaba abrir su primer restaurante en Quito y no
                    encontró en el mercado una panadería que cumpla con sus requerimientos, entre estos, que el pan
                    debería estar cortado para facilitar sus procesos de elaboración de hamburguesas, como era la norma
                    en otras localidades donde la franquicia trabajaba.</p>
                <br>
                <p class="section-subheading " style="text-align:justify;">José y su esposa Elizabeth Merlo se arriesgan por este proyecto, y con el apoyo de sus padres y la venta de su casa logran comprar la maquinaria necesaria para empezar con la empresa. Sin embargo, su inicio fue complicado, entre otras cosas, debido a que no se contaba con un establecimiento propio, además de factores externos como el conflicto armado entre Ecuador y Perú de 1995. Pero gracias a un arduo trabajo, sacrificio, constancia y la colaboración decidida de un grupo de trabajadores comprometidos, la compañía salió adelante y se ha ido desarrollando de forma paulatina a lo largo de los años.</p>
                <br>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid2"
                                                         src="{{url_for('static', filename='assets/img/about/soil.jpg')}}"/>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>10 de junio de 1995</h4>
                                <h4 class="subheading">Nuestros Inicios</h4>
                            </div>
                            <div class="timeline-body"><p class="">José Luzuriaga, aficionado a la mecánica, diseñó un prototipo que realice este corte en el pan y, al lograrlo con éxito, empezó a cristalizar su proyecto para proveer de producto a la franquicia. De esta forma, el 10 de junio de 1995, la panificadora Classic Bun empieza a funcionar en la calle Bolivia y Eustorgio Salgado, en un local de 150 metros cuadrados.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid2"
                                                         src="{{url_for('static', filename='assets/img/company/fabrica-1.jpeg')}}"/>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>1995-2000</h4>
                                <h4 class="subheading">Primeros Años</h4>
                            </div>
                            <div class="timeline-body"><p class="">En el mismo año de 1995, se efectúa el primer cambio de local en la calle Inglaterra y Vancouver, y se permanece en ese lugar hasta 1997, año en que se inició la construcción de una planta propia en la calle Pedro Guerrero y avenida de las Anonas. Esta fue su sede durante veinte años, tiempo durante el cual se realizaron dos remodelaciones que permitieron el crecimiento constante de la empresa.</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid2"
                                                         src="{{url_for('static', filename='assets/img/company/fabrica-2.jpeg')}}"/>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2000-2020</h4>
                                <h4 class="subheading">Crecimiento</h4>
                            </div>
                            <div class="timeline-body"><p class=""><b>Para 2018, Classic Bun contaba ya con la certificación en seguridad alimentaria FSSC 22000</b>, trabajaba con las principales franquicias y restaurantes de comida rápida del país; y, su lema: “Nuestra calidad, su éxito”, ha sido su norte y su sur.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid2"
                                                         src="{{url_for('static', filename='assets/img/company/fabrica.jpg')}}"/>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2020-Actualidad</h4>
                                <h4 class="subheading">Nueva Planta</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="">A finales de 2019, José Miguel Luzuriaga Merlo, el hijo mayor de la familia, se une al equipo de trabajo con el objetivo de hacer crecer el proyecto de sus padres. Gracias a su perseverancia surgió un nuevo sueño que, a pesar de la pandemia de la Covid-19 y en contra de todo pronóstico, forjó una nueva realidad que dio origen a la moderna planta de Classic Bun ubicada en la calle <b>Santa Teresa de Jesús y Panamericana Norte.</b></p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4><a href="{{url_for('work_with_us')}}" style="color:black">
                                <b>
                                    Se parte
                                    <br/>
                                    de nuestro
                                    <br/>
                                    futuro!</b>
                            </a></h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Empresa-->
<section class="page-section" id="empresa">
    <div class="text-center">
        <h2 class="section-heading ">¿Para qué lo hacemos?</h2>
    </div>
    <div class="display-small">
        <div class="text-center">
            <a class="btn btn-primary btn-xl" data-bs-toggle="collapse" href="#mision" role="button"
               aria-expanded="false" aria-controls="mision">
                Misión
            </a>
        </div>
        <div class="collapse" id="mision">
            <div class="card card-body">
                <p class="" style="text-align:justify">Apoyar al cliente en cada proyecto nuevo para crecer juntos a paso firme. Brindar un servicio eficiente y eficaz para cubrir todas las necesidades de nuestros usuarios, al proporcionar un alto grado de satisfacción mediante nuestros productos elaborados en la más alta calidad.</p></div>
        </div>
        <div class="text-center">
            <a class="btn btn-primary btn-xl" data-bs-toggle="collapse" href="#vision" role="button"
               aria-expanded="false" aria-controls="vision">
                Visión
            </a>
        </div>
        <div class="collapse" id="vision">
            <div class="card card-body">
                <p class="" style="text-align:justify">Classic Bun quiere seguir proyectándose como una empresa líder en el mercado, buscamos ser la mejor panadería, ofreciendo siempre un servicio personalizado y único a cada uno de nuestros clientes; queremos hacer de Classic Bun el aliado estratégico número uno de nuestra clientela.</p></div>
        </div>
        <div class="text-center">
            <a class="btn btn-primary btn-xl" data-bs-toggle="collapse" href="#values" role="button"
               aria-expanded="false" aria-controls="values">
                Valores Corporativos
            </a>
        </div>
        <div class="collapse" id="values">
            <div class="card card-body" style="text-align:justify">
                <p>Nos enfocados en ofrecer una atención personalizada con altos estándares de calidad; además, estamos orgullosos de nuestra capacidad de producción, con reacción inmediata para cubrir las necesidades de nuestros clientes. Algunos valores que nos destacan son: Seriedad, Excelencia en el servicio, Eficiencia, Honestidad, Respeto y responsabilidad.</p>
            </div>
        </div>
        <div class="text-center">
            <a class="btn btn-primary btn-xl" data-bs-toggle="collapse" href="#ethics" role="button"
               aria-expanded="false" aria-controls="ethics">
                Código De Ética
            </a>
        </div>
        <div class="collapse" id="ethics">
            <div class="card card-body" style="text-align:justify">
                <p>El presente código tiene como objetivo reafirmar las acciones y decisiones basadas en nuestros valores corporativos aplicando una conducta integra, respetuosa, honesta y diligente en todas las áreas de la empresa permitiendo una conservación y control adecuado de los distintos niveles de gestión. Para Classic Bun el cumplimiento de las leyes, reglamentos y normas aplicables en todas las operaciones de la organización es estrictamente indispensable incluyendo, pero no limitándose a las leyes naciones anti-corrupción, anti-sobornos, lavado de activos y financiación del terrorismo. Realizamos de manera íntegra y correcta la información contable y financiera; y tratamos los datos personales e información privilegiada y confidencial de nuestros clientes y empleados con ética y responsabilidad, sin divulgar a personal no autorizado.</p>
                <p>En Classic Bun no se discrimina ni se realiza distinción que no sea objetiva por motivo de origen, raza, edad, sexo, genero, religión, orientación sexual, estado civil, social o económico. No se permite el trabajo infantil ni forzoso y, además no se tolera ningún tipo de conducta ya sea física, verbal o visual que arremeta contra la dignidad, integridad y respeto sancionando todo tipo de acoso u hostigamiento.</p>
            </div>
        </div>
        <div class="text-center">
            <a class="btn btn-primary btn-xl" data-bs-toggle="collapse" href="#inocuidad" role="button"
               aria-expanded="false" aria-controls="inocuidad">
                Política de Inocuidad
            </a>
        </div>
        <div class="collapse" id="inocuidad">
            <div class="card card-body">
                <p class="">En Classic Bun elaboramos productos de panadería bajo procesos que nos permitan garantizar la calidad e inocuidad de los mismos, generando confianza a nuestros clientes, para lograrlo:</p>
                <ol class="">
                    <li>Contamos con proveedores calificados</li>
                    <li>Capacitamos constantemente a nuestro personal para que posea las competencias necesarias y éste comprometido con la elaboración y la distribución de alimentos inocuos</li>
                    <li>Tenemos un Sistema de Gestión de Inocuidad Alimentaria FSSC 22000, el cual se revisa constantemente para su mejora continua. </li>
                    <li>Aseguramos una comunicación interna y externa con las partes interesadas</li>
                    <li>Cumplimos con los requisitos legales, reglamentarios y de inocuidad aplicables a nuestros productos y los acordados con nuestros clientes.</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="display-big">
        <div class="row" style="margin:auto">
            <div class="col-lg-4">
                <div class="team-member">
                    <h4>Misión</h4>
                    <p class="" style="text-align:justify">Apoyar al cliente en cada proyecto nuevo para crecer juntos a paso firme. Brindar un servicio eficiente y eficaz para cubrir todas las necesidades de nuestros usuarios, al proporcionar un alto grado de satisfacción mediante nuestros productos elaborados en la más alta calidad.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <h4>Visión</h4>
                    <p class="" style="text-align:justify">Classic Bun quiere seguir proyectándose como una empresa líder en el mercado, buscamos ser la mejor panadería, ofreciendo siempre un servicio personalizado y único a cada uno de nuestros clientes; queremos hacer de Classic Bun el aliado estratégico número uno de nuestra clientela.</p></div>
            </div>
            <div class="col-lg-4">
                <div class="team-member" style="text-align:justify">
                    <h4 style="text-align: center;">Valores Corporativos</h4>
                    <p>Nos enfocados en ofrecer una atención personalizada con altos estándares de calidad; además, estamos orgullosos de nuestra capacidad de producción, con reacción inmediata para cubrir las necesidades de nuestros clientes. Algunos valores que nos destacan son: Seriedad, Excelencia en el servicio, Eficiencia, Honestidad, Respeto y responsabilidad.</p>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="team-member" style="text-align:justify">
                    <h4 style="text-align: center;">Código De Ética</h4>
                    <p>El presente código tiene como objetivo reafirmar las acciones y decisiones basadas en nuestros valores corporativos aplicando una conducta integra, respetuosa, honesta y diligente en todas las áreas de la empresa permitiendo una conservación y control adecuado de los distintos niveles de gestión. Para Classic Bun el cumplimiento de las leyes, reglamentos y normas aplicables en todas las operaciones de la organización es estrictamente indispensable incluyendo, pero no limitándose a las leyes naciones anti-corrupción, anti-sobornos, lavado de activos y financiación del terrorismo. Realizamos de manera íntegra y correcta la información contable y financiera; y tratamos los datos personales e información privilegiada y confidencial de nuestros clientes y empleados con ética y responsabilidad, sin divulgar a personal no autorizado.</p>
                    <p>En Classic Bun no se discrimina ni se realiza distinción que no sea objetiva por motivo de origen, raza, edad, sexo, genero, religión, orientación sexual, estado civil, social o económico. No se permite el trabajo infantil ni forzoso y, además no se tolera ningún tipo de conducta ya sea física, verbal o visual que arremeta contra la dignidad, integridad y respeto sancionando todo tipo de acoso u hostigamiento.</p>
                </div>
            </div>
        </div>
        <div class="row" style="margin:auto">
            <h4 style="text-align: center;">Política de Inocuidad</h4>
            <p class="">En Classic Bun elaboramos productos de panadería bajo procesos que nos permitan garantizar la calidad e inocuidad de los mismos, generando confianza a nuestros clientes, para lograrlo:</p>
            <ol class="">
                <li>Contamos con proveedores calificados</li>
                <li>Capacitamos constantemente a nuestro personal para que posea las competencias necesarias y éste comprometido con la elaboración y la distribución de alimentos inocuos</li>
                <li>Tenemos un Sistema de Gestión de Inocuidad Alimentaria FSSC 22000, el cual se revisa constantemente para su mejora continua. </li>
                <li>Aseguramos una comunicación interna y externa con las partes interesadas</li>
                <li>Cumplimos con los requisitos legales, reglamentarios y de inocuidad aplicables a nuestros productos y los acordados con nuestros clientes.</li>
            </ol>
        </div>
    </div>
</section>
<!-- Contact-->
<header class="masthead"
        style="background-image: url('{{ url_for('static', filename='assets/img/general/bg-image-3.jpg')}}')"
        id="contacto">
    <div class="text-left">
        <h2 class="section-heading">Contacto</h2>
        <p class="section-subheading contacto-width" style="text-align:justify">Puede contactarnos a través de nuestros diversos medios de comunicación, detallados al pie de página, o al llenar este formato para luego contactarnos con usted a la brevedad posible.</p>
        <a class="btn btn-primary btn-xl btn-2 " href="{{url_for('contact_form')}}">Formulario de Contacto</a>
    </div>
</header>
<!--Whatsapp-->
<div class="fixed-bottom"
     style="background-color:transparent; margin-bottom:10vh ;margin-right:5vw; text-align: right" id="float-popup">
    <a class="btn btn-success btn-social mx-2" href="https://api.whatsapp.com/send/?phone=593999686133">
        <i class="fa-brands fa-whatsapp fa-3x"></i>
    </a>
</div>
<!-- Footer-->
{% include "footer.html" %}
</body>
</html>
